body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-family: "Varela Round", sans-serif;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

.produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.produto {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    margin: 10px;
}

.produto > img {
    max-width: 100%;
}

.produto > h2 {
    color: #333;
}

.produto  p {
    color: #666;
}

.produto .preco {
    color: #262626;
    font-size: 1.2em;
    font-weight: bold;
}

.add_carrinho {
    background-color: #262626;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-decoration: none;
}

.add_carrinho:hover {
    background-color: #6F7073;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
/* .varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  */
